In [26]:
import numpy as np
import pandas as pd

In [35]:
df = pd.read_csv("language.csv")

In [36]:
df

                                                    Text Language
0       Nature, in the broadest sense, is the natural...  English
1      "Nature" can refer to the phenomena of the phy...  English
2      The study of nature is a large, if not the onl...  English
3      Although humans are part of nature, human acti...  English
4      [1] The word nature is borrowed from the Old F...  English
...                                                  ...      ...
10332  ನಿಮ್ಮ ತಪ್ಪು ಏನು ಬಂದಿದೆಯೆಂದರೆ ಆ ದಿನದಿಂದ ನಿಮಗೆ ಒ...  Kannada
10333  ನಾರ್ಸಿಸಾ ತಾನು ಮೊದಲಿಗೆ ಹೆಣಗಾಡುತ್ತಿದ್ದ ಮಾರ್ಗಗಳನ್...  Kannada
10334  ಹೇಗೆ ' ನಾರ್ಸಿಸಿಸಮ್ ಈಗ ಮರಿಯನ್ ಅವರಿಗೆ ಸಂಭವಿಸಿದ ಎ...  Kannada
10335  ಅವಳು ಈಗ ಹೆಚ್ಚು ಚಿನ್ನದ ಬ್ರೆಡ್ ಬಯಸುವುದಿಲ್ಲ ಎಂದು ...  Kannada
10336  ಟೆರ್ರಿ ನೀವು ನಿಜವಾಗಿಯೂ ಆ ದೇವದೂತನಂತೆ ಸ್ವಲ್ಪ ಕಾಣು...  Kannada

[10337 rows x 2 columns]

In [37]:
df.head()

                                                Text Language
0   Nature, in the broadest sense, is the natural...  English
1  "Nature" can refer to the phenomena of the phy...  English
2  The study of nature is a large, if not the onl...  English
3  Although humans are part of nature, human acti...  English
4  [1] The word nature is borrowed from the Old F...  English

In [38]:
df.tail()

                                                    Text Language
10332  ನಿಮ್ಮ ತಪ್ಪು ಏನು ಬಂದಿದೆಯೆಂದರೆ ಆ ದಿನದಿಂದ ನಿಮಗೆ ಒ...  Kannada
10333  ನಾರ್ಸಿಸಾ ತಾನು ಮೊದಲಿಗೆ ಹೆಣಗಾಡುತ್ತಿದ್ದ ಮಾರ್ಗಗಳನ್...  Kannada
10334  ಹೇಗೆ ' ನಾರ್ಸಿಸಿಸಮ್ ಈಗ ಮರಿಯನ್ ಅವರಿಗೆ ಸಂಭವಿಸಿದ ಎ...  Kannada
10335  ಅವಳು ಈಗ ಹೆಚ್ಚು ಚಿನ್ನದ ಬ್ರೆಡ್ ಬಯಸುವುದಿಲ್ಲ ಎಂದು ...  Kannada
10336  ಟೆರ್ರಿ ನೀವು ನಿಜವಾಗಿಯೂ ಆ ದೇವದೂತನಂತೆ ಸ್ವಲ್ಪ ಕಾಣು...  Kannada

In [45]:
df["Language"].value_counts()

English       1385
French        1014
Spanish        819
Portugeese     739
Italian        698
Russian        692
Sweedish       676
Malayalam      594
Dutch          546
Arabic         536
Turkish        474
German         470
Tamil          469
Danish         428
Kannada        369
Greek          365
Hindi           63
Name: Language, dtype: int64

In [46]:
df["Text"].value_counts()

Jag är ledsen.                                                                                                                                        3
i'm sorry.                                                                                                                                            3
Мне жаль.                                                                                                                                             3
souhaitée].                                                                                                                                           3
συγγνώμη.                                                                                                                                             3
                                                                                                                                                     ..
Il s'agit d'une œuvre libre, c'est-à-dire que chacun est libre de la rediffuser.                                                                      1
Gérée en wiki dans le site web wikipedia.org grâce au logiciel MediaWiki, elle permet à tous les internautes d'écrire et de modifier des articles.    1
Elle est devenue en quelques années l'encyclopédie la plus fournie et la plus consultée au monde.                                                     1
L'organisation à but non lucratif américaine Wikimedia Foundation est dépositaire de la marque Wikipedia.                                             1
ಟೆರ್ರಿ ನೀವು ನಿಜವಾಗಿಯೂ ಆ ದೇವದೂತನಂತೆ ಸ್ವಲ್ಪ ಕಾಣುತ್ತಿದ್ದೀರಿ ಆದರೆ ನಾನು ಏನು ನೋಡುತ್ತಿದ್ದೇನೆ ನೀವು ಹೇಗೆ ಅವನಾಗಬಹುದು ನೀವು ಇಬ್ಬರು ತುಂಬಾ ಒಳ್ಳೆಯವರು                1
Name: Text, Length: 10267, dtype: int64

In [47]:
x = np.array(df["Text"])

In [48]:
y = np.array(df["Language"])

In [49]:
from sklearn.model_selection import train_test_split

In [51]:
from sklearn.naive_bayes import MultinomialNB

In [52]:
from sklearn.feature_extraction.text import CountVectorizer

In [53]:
cv=CountVectorizer()

In [54]:
cv

CountVectorizer()

In [55]:
X =cv.fit_transform(x)

In [56]:
X

<10337x39928 sparse matrix of type '<class 'numpy.int64'>'
	with 163190 stored elements in Compressed Sparse Row format>

In [57]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y,test_size=0.33)

In [58]:
model = MultinomialNB()

In [59]:
model.fit(Xtrain,ytrain)

MultinomialNB()

In [60]:
model.score(Xtrain,ytrain)

0.9923465703971119

In [61]:
model.score(Xtest,ytest)

0.9765533411488863

In [63]:
user = input("enter your text")
df = cv.transform([user]).toarray()
output = model.predict(df)
print(output)

enter your textಟೆರ್ರಿ ನೀವು ನಿಜವಾಗಿಯೂ ಆ ದೇವದೂತನಂತೆ ಸ್ವಲ್ಪ ಕಾಣುತ್ತಿದ್ದೀರಿ ಆದರೆ ನಾನು ಏನು ನೋಡುತ್ತಿದ್ದೇನೆ ನೀವು ಹೇಗೆ ಅವನಾಗಬಹುದು ನೀವು ಇಬ್ಬರು ತುಂಬಾ ಒಳ್ಳೆಯವರು
['Kannada']